body {
    background-color: darkgrey;
}
div.polaroid {
    width: 500px;
    box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin: 100px;
    padding: 10px;
    display: block;
}

div.container {
    padding: 10px;
}
.button {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: black;
}

.title{
    margin: 100px
}
